In [8]:
pip install pandas fastparquet

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (2.1.4)
Requirement already satisfied: fastparquet in /usr/local/python/3.10.13/lib/python3.10/site-packages (2023.10.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2023.4)
Requirement already satisfied: cramjam>=2.3 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from fastparquet) (2.8.1)
Requirement already satisfied: fsspec in /home/codespace/.local/lib/python3.10/site-packages (from fastparquet) (2023.12.2)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.10/site-packages (from fastparquet) (23.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 6.7 MB/s eta 0:00:00[36m0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (pyproject.toml) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp310-cp310-linux_x86_64.whl size=584105 sha256=a0b249cacd8c6759496ea93f5a488334c0e9ca1f98748e3a7a398218e3b0a75f
  Stored in directory: /home/codespace/.cache/pip/wheels/7d/75/13/da1c6d88687ae81bf5e3cfa07d702981ba137963163472b050
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9
Note: you may need to restart the kernel to use updated packages.

In [51]:
import pandas as pd

df = pd.read_parquet('yellow_tripdata_2021-01.parquet')

In [31]:
dp=pd.read_csv('yellow_tripdata_2021-01.csv',nrows=100)

In [32]:
dp.head()

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [37]:
dp.tpep_pickup_datetime= pd.to_datetime(dp.tpep_pickup_datetime)
dp.tpep_dropoff_datetime = pd.to_datetime(dp.tpep_dropoff_datetime )

In [13]:
from sqlalchemy import create_engine

In [16]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [34]:
engine.connect()

In [38]:
print(pd.io.sql.get_schema(dp,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"Unnamed: 0" BIGINT,
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [33]:
dp.shape[0]

100

In [39]:
df_iter=pd.read_csv('yellow_tripdata_2021-01.csv',iterator=True,chunksize=100000)

In [41]:
dp=next(df_iter)

In [42]:
len(dp)

100000

In [43]:
dp.tpep_pickup_datetime= pd.to_datetime(dp.tpep_pickup_datetime)
dp.tpep_dropoff_datetime = pd.to_datetime(dp.tpep_dropoff_datetime )

In [45]:
dp.head(n=0).to_sql(name='yellow_taxi_data' ,con=engine, if_exists= 'replace' )

0

In [46]:
%time dp.to_sql(name='yellow_taxi_data' ,con=engine, if_exists= 'append' )

CPU times: user 7.35 s, sys: 61.8 ms, total: 7.41 s
Wall time: 11.2 s

1000

In [48]:
from time import time

In [49]:
while True:
    t_start=time()
    dp=next(df_iter)
    dp.tpep_pickup_datetime= pd.to_datetime(dp.tpep_pickup_datetime)
    dp.tpep_dropoff_datetime = pd.to_datetime(dp.tpep_dropoff_datetime )
    dp.to_sql(name='yellow_taxi_data' ,con=engine, if_exists= 'append' )
    t_end=time()
    print('inserted another chunk, took %.3f second'%(t_end-t_start))

inserted another chunk, took 11.113 second
inserted another chunk, took 10.997 second
inserted another chunk, took 12.040 second
inserted another chunk, took 11.510 second
inserted another chunk, took 11.333 second
inserted another chunk, took 11.774 second

/tmp/ipykernel_47431/1957413332.py:5: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dp.tpep_dropoff_datetime = pd.to_datetime(dp.tpep_dropoff_datetime )

inserted another chunk, took 12.050 second
inserted another chunk, took 11.739 second
inserted another chunk, took 11.512 second
inserted another chunk, took 11.355 second
inserted another chunk, took 11.556 second

/tmp/ipykernel_47431/1957413332.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dp=next(df_iter)

inserted another chunk, took 11.523 second
inserted another chunk, took 7.504 second

StopIteration:

In [52]:
df.shape[0]

1369769